@use 'base/variables' as v;

.site-footer{
    background-color: v.$rosa;
    p{
        text-align: center;
        color: v.$blanco;
        font-weight: 700;
        margin: 0;
        padding: 1rem 0;
    }
}